/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 // @import "bootstrap-sprockets";
 // @import "bootstrap";
 // $navbar-default-bg: #08088A; */
 /* Introduction to Cascading Style Sheets */

 body {
   /* If the user cannot load the Arial font, the sans-serif font is used */
   font-family: Arial, sans-serif;
   background-color: black;
   /* background-color: #a0d3da; */
   color: white;
   font-family: sans-serif;
 }

 ul  {
   text-align: center;
 }

 h2 {
   font-size: 32px;
   text-align: center;
   padding-top: 80px
 }

 /* This selector selects ALL anchor tag children of ALL list elements that
 are children of an Unordered Lsit element */
 ul li a, figcaption a {
   text-decoration: none;
   color: inherit;
   /* text-align: center; */
 }

 /* This selector selects only IMMEDIATE (1 level deep) image element children
 of the header element */
 header > img {
   width: 100px;
 }

 /* Selects all elements with the class attribute "ingredients-list" */
 .ingredients-list {

   /* The list style property is shorthand for multiple list-style properties*/
   list-style: square inside;
 }

 ol {
   /* list-style: upper-roman inside; */
 }

 .user_review h4 {
   font-size: 18px;
   font-weight: bold;
 }

 input[type="radio"] {
     -webkit-appearance: none;
     width: 27px;
     height: 27px;
     background-image: url(./stars.png);
     vertical-align: bottom;
 }

 input[type="radio"]:checked {
   background-position: 30px 30px;
 }


 input:last-child {
     background: gold;
 }

 input:last-child:hover {
     -webkit-filter: brightness(90%);
 }

 ol li:nth-of-type(2n) {
   /* background-color: whitesmoke; */
 }

 h2 + .user_review {
     border-top: 1px solid black;
 }


 header {
   /* padding: 20px; */
   background: red;
   background: black;
   width: 100%;
 position: fixed /* float: left;

   padding: 20px */

 }
 header a {
   display: block;
 }


 h1 {
   /* font-size: 38px; */
   float: left;
   font-weight: bold;
   padding-left: 30px
 }

 nav {
   padding-top: 15px;
   padding-right: 30px;
   background-color: maroon;
   /* display: flex;
   align-items: center;
   justify-content: space-evenly; */
 }

 .header_nav {
 }

 .header_nav_logo {
   float: left;
 }

 .header_nav_list {
   float: right;
   list-style: none;
   justify-content: flex-end;
   padding-right: 10px;
   /* padding-left: 500px */
 }

 .header_nav_list > li {
   float: left;
   font-weight: bold;
   padding-left: 20px
 }

 /* clearfix */
 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 .header a:hover {
   color: black;
   /* color: red */
 }

 .main_image {
   /* display: flex; */
   width: 30%;
   /* margin: auto; */

     /* position: absolute; */
 }

  .header_nav_logo:hover {
   display: inline-block;
   /* background-color: #0074d9; */
   /* width: 20% */

   /* font-size: 1px;
   padding: 1px; */
   color: white;
   /* margin-right: 5px; */
   /* margin-left: 5px; */
   animation: roll 3s infinite;
   transform: rotate(30deg);
   opacity: .7;
 }

 @keyframes roll {
   0% {
     transform: rotate(0);
   }
   100% {
     transform: rotate(360deg);
   }
 }

 /* .main_image:hover {
   display: block;
   width: 70%;
   margin: auto;
   background-color: transparent; */
   /* height: 100px;
   width: 100px; */
   /* font-size: 1px;
   padding: 1px;
   color: white; */
   /* margin-right: 5px;
   margin-left: 5px; */
   /* animation: skew 2s infinite;
   transform: skew(20deg);
   animation-direction: alternate;
   opacity: 1;
 } */

 /* @keyframes skew {
   0% {
     transform: skewX(0deg);
   }
   100% {
     transform: skewX(-20deg);
   }
 } */


 .hamburger-dropdown {
   display: none;
 }

 @media all and (max-width: 900px) {
   nav ul {
     display: none;
   }
   .header_nav_list {
     display: none
   }
   .hamburger-dropdown {
     display: flex;
     justify-content: flex-end;
     padding-right: 10px;
     list-style: none
   }
   .hamburger-dropdown > li {
     background: url(images/hamburger.png);
     background-repeat: no-repeat;
     background-size: 50px 50px;
     width: 50px;
     height: 50px;
     /* nearest relatively positioned parent of absolute positioned child */
     position: relative;
     cursor: pointer;
   }
   .hamburger-dropdown ul {
     /* Every time we position an element absolutely we should be thinking about
     which parent element we need to position relatively */
     position: absolute;
     top: 50px;
     left: 0;
     flex-direction: column;
     cursor: pointer;
     box-shadow: black 5px 5px 10px;
   }

   /* This is how we create pure css dropdown effects. No JS required. */
   .hamburger-dropdown:hover ul {
     display: flex;
     background: black;
     color: white
   }

   .hamburger-dropdown ul li:hover a {
     text-decoration: underline;
     color: white
   }

 body > section:nth-child(3) > figure > img.main_image.eye_left {
   padding-left: 20%;

 }
